
@{
    ViewData["Title"] = "RecieptPreview";
}
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-block btn-sm btn-info">Generate PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>