@{
    var Systempaymentmodeslists = ViewData["Systempaymentmodeslists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title text-uppercase" id="SocialPesaModalLabel"><strong>Payment</strong></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body pb-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="font-weight-normal text-sm">Payment Mode <i class="fa fa-asterisk fa-sm text-danger"></i></label>
                <select id="medium" class="form-control form-control-sm paid_by" onchange="Loadcustomerpaymentdataitems(this.options[this.selectedIndex].text)" asp-items="@Systempaymentmodeslists">
                    <option value="">Select</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <div class="form-group pcard tref" style="display: none;">
            <label class="font-weight-normal text-sm">Card Number(Mask)</label>
            <input type="text" id="cardmask" class="form-control form-control-sm col-10" name="mask" />
            <a class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main" style="float: right;margin: -29px 5px;cursor: pointer;" href="#" onclick="searchCard()">Search</a>
        </div>
        <div class="maskDetails tref" style="display:none; padding: 12px 10px; border: 1px solid #ccc; border-radius: 3px; margin-bottom: 9px;"></div>

        <div class="row  carddata" style="display: none;">
            <div class="col-sm-4">
                <div class="vehicles">
                    <div class="form-group">
                        <label class="font-weight-normal text-sm">Vehicles <i class="fa fa-asterisk text-danger"></i></label>
                        <select id="customerVehicles" class="form-control form-control-sm"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group pvoucher">
                    <label class="font-weight-normal text-sm">Transaction Date <i class="fa fa-asterisk text-danger"></i></label>
                    <input type="datetime-local" id="transactiondate" class="form-control form-control-sm" name="transactiondate" />

                </div>
            </div>
            <div class="col-sm-4">
                <div class="paymentref">
                    <div class="form-group">
                        <label class="font-weight-normal text-sm">Transaction Reference </label>
                        <input type="text" id="payreference" class="form-control form-control-sm" name="payreference" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row cashdata" style="display: none;">
            <div class="col-sm-4">
                <div class="RecievedAmountInput">
                    <div class="form-group">
                        <label class="font-weight-normal text-sm">Recieved Amount <i class="fa fa-asterisk text-danger"></i></label>
                        <input id="RecievedAnount" type="number" class="form-control form-control-sm" />
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group pvoucher">
                    <label class="font-weight-normal text-sm">Transaction Date <i class="fa fa-asterisk text-danger"></i></label>
                    <input type="datetime-local" id="transactiondate1" class="form-control form-control-sm" name="transactiondate" />

                </div>
            </div>
            <div class="col-sm-4">
                <div class="paymentref">
                    <div class="form-group">
                        <label class="font-weight-normal text-sm">Transaction Reference </label>
                        <input type="text" id="payreference1" class="form-control form-control-sm" name="payreference" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tref pcheque" style="display:none;">
            <div class="form-group">
                <label for="cheque_no">Cheque No <i class="fa fa-asterisk color-maroon"></i></label>
                <input type="text" id="chequenumber" class="form-control form-control-sm" name="chequenumber" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn-xs btn-default pull-left font-weight-bold text-uppercase" data-dismiss="modal"> Close </button>
    <button class="btn-info btn-xs btn-outline-info text-white font-weight-bold text-uppercase main" id="submit-sale" onclick="continueSale()">Continue</button>
</div><!--end modal-footer-->
