@{
    var Systemstations = ViewData["Systemstationslists"] as List<SelectListItem>;
    //var Systemcountries = ViewData["SystemCountrylists"] as List<SelectListItem>;
}
<div class="modal-header">
    <h5 class="text-sm modal-title" id="SocialPesaModalLabel">CUSTOMERS DETAILS </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-sm-center">
        <label class="font-weight-light">
        Corporate
        <input type="radio" name="CustomerDesignation" onclick="showsystemcorporatecustomerfields()">
        </label> &nbsp;&nbsp;
        <label class="font-weight-light">
        Individual
        <input type="radio" name="CustomerDesignation" onclick="showsystemindivialcustomerfields()">
        </label>&nbsp;&nbsp;
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row" style="display:none">
        <div class="col-sm-12">
            <input id="customerId" />
            <input id="customerDesgnationId" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 Individual" style="display:none">
            <div class="form-group">
                <label class="font-weight-light">Firstname</label>
                <input class="form-control form-control-sm" id="firstnameId" />
            </div>
        </div>
        <div class="col-sm-6 Individual" style="display:none">
            <div class="form-group">
                <label class="font-weight-light">Lastname</label>
                <input class="form-control form-control-sm" id="lastnameId" />
            </div>
        </div>
        <div class="col-sm-12 Corporate" style="display:none">
            <div class="form-group">
                <label class="font-weight-light">Companyname</label>
                <input class="form-control form-control-sm" id="companynameId" />
            </div>
        </div>
    </div>
    <div class="row Common" style="display:none">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Emailaddress</label>
                <input type="email" class="form-control form-control-sm" id="emailaddressId" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Phonenumber</label>
                <input class="form-control form-control-sm" id="phonenumberId" />
            </div>
        </div>
         <div class="col-sm-4">
        <div class="form-group">
        <label class="font-weight-light">Station</label>
        <select class="form-control form-control-sm font-weight-light" id="CustomerstationId" asp-items="@Systemstations">
        <option value="0">--Select Station ---</option>
        </select>
        </div>
        </div>
    </div>
    <div class="row Corporate" style="display:none">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Company PIN</label>
                <input class="form-control form-control-sm" id="CompanypinId" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Registration No#</label>
                <input class="form-control form-control-sm" id="CompanyRegistrationNoId" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Tax No#</label>
                <input class="form-control form-control-sm" id="CompanyVATNoId" />
            </div>
        </div>
    </div>
    <div class="row Common" style="display:none">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Transactions Per Day</label>
                <input class="form-control form-control-sm" id="NoOfTransactionPerDayId" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Daily Amount </label>
                <input class="form-control form-control-sm" id="AmountPerDayId" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="font-weight-light">Transaction Per Minute</label>
                <input class="form-control form-control-sm" id="ConsecutiveTransTimeMinId" />
            </div>
        </div>

    </div>

    <div class="row Corporate" style="display:none">
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Company Address</label>
                <input class="form-control form-control-sm" id="CompanyaddressId" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Contact Person Name</label>
                <input class="form-control form-control-sm" id="CompanycontactpersonnameId" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Contact Person Email</label>
                <input class="form-control form-control-sm" id="CompanycontactpersonemailId" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="font-weight-light">Contact Person Phone</label>
                <input class="form-control form-control-sm" id="CompanycontactpersonphoneId" />
            </div>
        </div>
    </div>
</div>
<div class="modal-footer Common" style="display:none">
    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
    <button class="btn btn-sm btn-info font-weight-bold" type="button" onclick="savesystemcustomerdata();">Save</button>
</div>